.footer {
  padding: 2rem 1rem;
  background-color: #0a0a0a;
  color: #cccccc;
  text-align: center;
  font-size: 0.9rem;
}



.footer-content a {
  color: #a259ff;
}



.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.footer-content a {
  color: #a259ff;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #d3a7ff;
}

.github-icon {
  vertical-align: middle;
}
