/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Dark Theme Overrides */
body.dark {
  --bg-color: #111111;
  --text-color: #ffffff;
  --accent-color: #a259ff; /* Can keep or change for dark mode */
  background-color: var(--bg-color);
  color: var(--text-color);
}


:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --accent-color: #a259ff;
  --outline-color: #000000;
}

body.dark {
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --accent-color: #a259ff;
  --outline-color: #ffffff;
}

