/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #ffffff;
  color: #111111;
  overflow-x: hidden;
}

/* Theme variables */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --accent-color: #a259ff;
}
